[Unit]
Description=Matches Kitty's theme with Gnome light/dark theme

[Service]
Type=forking
ExecStart=/home/gael/.local/bin/kitty-gnome-theme-monitor
RemainAfterExit=yes

[Install]
WantedBy=default.target
