[Unit]
Description=Matches Kitty's theme with Gnome light/dark theme

[Service]
Type=forking
ExecStart=/usr/local/bin/terminal-theme-monitor
RemainAfterExit=yes

[Install]
WantedBy=default.target
